<a href="https://colab.research.google.com/github/trmckibben/CalomirisPritchett_data/blob/master/dataloaded.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pa

data = pa.read_csv('https://raw.githubusercontent.com/trmckibben/CalomirisPritchett_data/master/CalomirisPritchettdata.csv')

In [2]:
data

       ID number  Conveyance  ... Comments DUMMY Estate Sale
0              1          70  ...      NaN               NaN
1              2          70  ...      NaN               NaN
2              3          70  ...      NaN               NaN
3              4          70  ...      NaN               NaN
4              5          70  ...      NaN               NaN
...          ...         ...  ...      ...               ...
14708      15321          87  ...      NaN               NaN
14709      15370          87  ...      NaN               NaN
14710      15371          87  ...      NaN               NaN
14711      15372          87  ...      NaN               NaN
14712      15377          87  ...      NaN               NaN

[14713 rows x 71 columns]